@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Rubik:wght@300&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Bebas Neue', Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.bottomNav {
  position: fixed;
  bottom: 0;
  background-color: purple;
  width: 100%;
  text-align: center;
  color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
