.main {
  min-height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/background-factory.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-family: 'Bebas Neue', cursive;
  font-size: 5rem;
  margin: 0;
}

.subtitle {
  font-size: 2rem;
}

.rainbowText {
  color: purple;
}

.links {
  padding: 0;
  font-size: 1.618rem;
}

.links > * {
  margin: 0 8px;
}

.links > *:hover {
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
